<a href="https://colab.research.google.com/github/parul67/Machine_Learning_ML/blob/main/Day_01_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in Python

In [1]:
##1. Arthmetic Operators

a = 10
b = 3

print(a + b)   # Addition → 13
print(a - b)   # Subtraction → 7
print(a * b)   # Multiplication → 30
print(a / b)   # Division → 3.33
print(a % b)   # Modulus → 1
print(a ** b)  # Power → 1000
print(a // b)  # Floor Division → 3

13
7
30
3.3333333333333335
1
1000
3

In [3]:
##Comparison Operators
x = 5
y = 10

print(x == y)   # False
print(x != y)   # True
print(x > y)    # False
print(x < y)    # True
print(x >= 5)   # True
print(y <= 8)   # False

False
True
False
True
True
False

In [5]:
##Logical Operators
age = 20
has_id = True

print(age > 18 and has_id)  # True
print(age < 18 or has_id)   # True
print(not has_id)           # False

True
True
False

In [7]:
##Assignment Operators
num = 10

num += 5   # num = num + 5
print(num) # 15

num *= 2
print(num) # 30

num -= 10
print(num) # 20

num /= 2
print(num) # 10.0

15
30
20
10.0

Control Flow

In [9]:
##if / elif / else
marks = 75

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 50:
    print("Grade C")
else:
    print("Fail")

Grade B

In [12]:
##for Loop
for i in range(5):
    print("Number:", i)

##Loop through a list:
fruits = ["apple", "banana", "mango"]

for fruit in fruits:
    print(fruit)

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4
apple
banana
mango

In [13]:
##while Loop
count = 1

while count <= 5:
    print("Count is:", count)
    count += 1

Count is: 1
Count is: 2
Count is: 3
Count is: 4
Count is: 5

break, continue, pass

In [14]:
##break → stop loop
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [16]:
##continue → skip current iteration
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [17]:
##pass → placeholder
for i in range(3):
    pass  # Will add code later

Data Structures

In [19]:
##Lists
numbers = [1, 2, 3, 4]
numbers.append(5)
numbers.remove(2)

print(numbers)      # [1, 3, 4, 5]
print(numbers[0])   # 1

[1, 3, 4, 5]
1

In [20]:
##Tuples (Immutable)
point = (10, 20)

print(point[0])  # 10
# point[0] = 5 Error (cannot change)

10

In [21]:
##Sets (Unique values)
nums = {1, 2, 3, 3, 4}
nums.add(5)
nums.remove(2)

print(nums)  # {1, 3, 4, 5}

{1, 3, 4, 5}

In [22]:
##Dictionaries
student = {
    "name": "Rahul",
    "age": 21,
    "course": "ML"
}

print(student["name"])  # Rahul

student["age"] = 22
student["grade"] = "A"

print(student)

Rahul
{'name': 'Rahul', 'age': 22, 'course': 'ML', 'grade': 'A'}

In [23]:
##List Comprehensions
# Square of numbers 0–5
squares = [x**2 for x in range(6)]
print(squares)

# Even numbers only
evens = [x for x in range(10) if x % 2 == 0]
print(evens)

[0, 1, 4, 9, 16, 25]
[0, 2, 4, 6, 8]

In [25]:
##Defining a Basic Function
def greet():
    print("Hello, welcome to Machine Learning!")

greet()  # Calling the function

Hello, welcome to Machine Learning!

In [26]:
####Function with Parameters
def greet_user(name):
    print("Hello", name)

greet_user("Parul")
greet_user("Rahul")

Hello Parul
Hello Rahul

In [27]:
##Function with Return Value
def add(a, b):
    return a + b

result = add(5, 3)
print("Sum is:", result)

Sum is: 8

In [28]:
##Default Arguments
def power(base, exponent=2):
    return base ** exponent

print(power(5))      # 5^2 = 25
print(power(5, 3))   # 5^3 = 125

25
125

In [29]:
##*args (Multiple Positional Arguments)
def total_sum(*numbers):
    return sum(numbers)

print(total_sum(1, 2, 3))        # 6
print(total_sum(5, 10, 15, 20))  # 50

6
50

In [30]:
##*kwargs (Multiple Keyword Arguments)
def student_info(**details):
    for key, value in details.items():
        print(key, ":", value)

student_info(name="Parul", age=21, course="ML")

name : Parul
age : 21
course : ML

In [31]:
##Lambda Functions
square = lambda x: x * x
print(square(6))  # 36

##With two inputs:
add = lambda a, b: a + b
print(add(4, 7))  # 11

36
11

In [32]:
##Recursion (Function Calling Itself)
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n - 1)

print(factorial(5))  # 120

120